a:link,a:visited
			{
				color: #000000;
				text-decoration:none;
				color: #000000;
			}
			@keyframes topBar{
				0%{
					transform: scale(0);
					opacity: 0;
					display: none;
				}
				50%{
					transform: scale(0);
					opacity: 0;
					display: none;
				}
				75%{
					transform: scale(1.5);
				}
				100%{
					transform: scale(1);
				}
			}
			.topBar{
				box-sizing: border-box;
				/* border: 1px #668899 solid;
				background-color: #52585b; */
				width: 1200px;
				height: 150px;
				position: absolute;
				top: 0px;
				left: 290px;
				animation: topBar 4s ease forwards;
			}
			 .menu1{
				box-sizing: border-box;
				border: 1px salmon solid;
				width: 200px;
				height: 40px;
				text-align: center;
				font-size: 25px;
				position: absolute;
				top: 50px;
				left: 530px;
				overflow:hidden ;
				transition:all 0.1s ease; 
				color: black;
				background-color: #DEDEDE;
			}
			.menu2{
				box-sizing: border-box;
				border: 1px skyblue solid;
				width: 200px;
				height: 40px;
				text-align: center;
				font-size: 25px;
				position: absolute;
				top: 50px;
				left: 750px;
				overflow:hidden ;
				transition: height 1s;
				color: black;
				background-color: #DEDEDE;
			}
			.menu3{
				box-sizing: border-box;
				border: 1px salmon solid;
				width: 200px;
				height: 40px;
				text-align: center;
				font-size: 25px;
				position: absolute;
				top: 50px;
				left: 970px;
				overflow:hidden ;
				transition: height 1s;
				color: black;
				background-color: #DEDEDE;
			}
			.menu1:active{
				transform: scale(1.1);
				border: 2px #52585B dashed;
			}
			.menu2:hover{
				height: 100px;
			}
			.menu3:hover{
				height: 170px;
			}
			.menuBeChoice{
				box-sizing: border-box;
				border: 1px salmon solid;
				width: 200px;
				height: 40px;
				text-align: center;
				font-size: 25px;
				position: absolute;
				top: 50px;
				left: 530px;
				overflow:hidden ;
				transition: height 1s; 
				color: black;
				background-color: #668899;
			}