<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>辉辉辉常精彩的比赛</title>
		<link rel="shortcut icon" href="../logo.ico" />
		<link type="text/css" href="enterChoicePage.css" rel="stylesheet"/>
		<link type="text/css" href="enterPage.css" rel="stylesheet"/>
		<link type="text/css" href="mainPageBody.css" rel="stylesheet"/>
		<link type="text/css" href="mainPageLeft.css" rel="stylesheet"/>
		<link type="text/css" href="mainPageTop.css" rel="stylesheet"/>
		<script src="../vue.js"></script>
		<style>
			
		</style>
	</head>
	<body>
	<div id="ALL">
		<div id="OPEN">
			<div id="open" @click="opening">
				<div><img :class="{body:always,aniClickBody:isBody,aniOpeningBody:isOpen}"
				src="../别墅背景.jpg"/></div>
				<div :class="{word:always,aniClickWord:isWord,aniOpeningWord:isOpen}">Welcome</div>
			</div>
		</div>
		
		<div id="CHOICE">
			<div id="choiceLogoBar">
				<!-- <button @click="isBegin=!isBegin">改变</button> -->
			<div v-if="isBegin">
				<img src="../NBA/lakers.png" @click="turnTop"
				:class="{aniBeChoiced:isAni,aniUnBeChoiced:isnotAni,choiceLogo:isLogo,
				}"/>
				
				<img src="../NBA/celtics.png" @click="turnTop"
				:class="{aniBeChoiced:isnotAni,aniUnBeChoiced:isAni,choiceLogo:isLogo}"/>
				<img src="../NBA/clippers.png" @click="turnTop"
				:class="{aniBeChoiced:isnotAni,aniUnBeChoiced:isAni,choiceLogo:isLogo}"/>
				<img src="../NBA/76ers.png" @click="turnTop"
				:class="{aniBeChoiced:isnotAni,aniUnBeChoiced:isAni,choiceLogo:isLogo}"/>
				<img src="../NBA/bucks.png" @click="turnTop"
				:class="{aniBeChoiced:isnotAni,aniUnBeChoiced:isAni,choiceLogo:isLogo}"/>
				<img src="../NBA/pacers.png" @click="turnTop"
				:class="{aniBeChoiced:isnotAni,aniUnBeChoiced:isAni,choiceLogo:isLogo}"/>
				<img src="../NBA/heat.png" @click="turnTop"
				:class="{aniBeChoiced:isnotAni,aniUnBeChoiced:isAni,choiceLogo:isLogo}"/>
				<img src="../NBA/jazz.png" @click="turnTop"
				:class="{aniBeChoiced:isnotAni,aniUnBeChoiced:isAni,choiceLogo:isLogo}"/>
				<img src="../NBA/maverichs.png" @click="turnTop"
				:class="{aniBeChoiced:isnotAni,aniUnBeChoiced:isAni,choiceLogo:isLogo}"/>
				<img src="../NBA/nuggest.png" @click="turnTop"
				:class="{aniBeChoiced:isnotAni,aniUnBeChoiced:isAni,choiceLogo:isLogo}"/>
				<img src="../NBA/raptors.png" @click="turnTop"
				:class="{aniBeChoiced:isnotAni,aniUnBeChoiced:isAni,choiceLogo:isLogo}"/>
				<img src="../NBA/rocket.png" @click="turnTop"
				:class="{aniBeChoiced:isnotAni,aniUnBeChoiced:isAni,choiceLogo:isLogo}"/>
			</div>
			</div>
		</div>
		
		<div id="MAIN" v-if="isShowMatch">
			
			<div class="leftbar"  id="idLeftbar" >
				<img src="../NBA/lakers.png" 
				class="leftlogoA" 
				@click="isSeenLeftLogo"  :title="message"/>
				<transition name="appear">
					<div class="outLeftLogo" v-if="isSeen">
						<img src="../NBA/lakers.png" :class="{smallLogo:always,}" />
						<img src="../NBA/clippers.png" :class="{smallLogo:always,}" />
						<img src="../NBA/heat.png" :class="{smallLogo:always,}" />
						<img src="../NBA/raptors.png" :class="{smallLogo:always,}" />
						<img src="../NBA/rocket.png" :class="{smallLogo:always,}" />
						<img src="../NBA/nuggest.png" :class="{smallLogo:always,}" />
						<img src="../NBA/bucks.png" :class="{smallLogo:always,beChoiceCom:isCom}" @click="isCom=!isCom"/>
						<img src="../NBA/celtics.png" :class="{smallLogo:always,}" />
						<img src="../NBA/maverichs.png" :class="{smallLogo:always,}" />
						<img src="../NBA/76ers.png" :class="{smallLogo:always,}" />
						<img src="../NBA/pacers.png" :class="{smallLogo:always,}" />
						<img src="../NBA/jazz.png" :class="{smallLogo:always,}" />
					</div>
					<p v-if="isSeen"></p>
				</transition>
			</div>
			
		    <div :class="{topBar:always,}" id="idTopBar">
				<div :class="{menu1:!isTop,menuBeChoice:isTop}" @click="matchBegin">
					<div>快速比赛</div>
				</div>
				<div :class="{menu2:always,}">
					<div>常规赛</div>
					<div><a href="">常规时间</a></div>
					<div><a href="">全明星周末</a></div>
				</div>
				<div :class="{menu3:always,}">
					<div>季后赛</div>
					<div><a href="">首轮</a></div>
					<div><a href="">次轮</a></div>
					<div><a href="">东西决</a></div>
					<div><a href="" @click="isShowFinal=!isShowFinal">总决赛</a></div>
				</div>
			</div>	
			
			<div :class="{bigBody:always,}" >
				<div :class="{smallBody1:always,aniSmallAB:always}">
					<table v-if="isComplete"> 
						<tr>
							<td colspan="2"><img src="../NBA/lakers.png" class="matchLogo"/></td>
							<td>126</td>
						</tr>
						<tr>
							<td>詹姆斯  </td>
							<td>8</td>
							<td>42</td>
						</tr>
						<tr>
							<td>戴维斯</td>
							<td>13</td>
							<td>22</td>
						</tr>
						<tr>
							<td>库兹马</td>
							<td>5</td>
							<td>37</td>
						</tr>
						<tr>
							<td>格林</td>
							<td>2</td>
							<td>12</td>
						</tr>
						<tr>
							<td>霍华德</td>
							<td>12</td>
							<td>13</td>
						</tr>
					</table>
				</div>
				<div :class="{smallBody2:always,aniSmallAB:always}">
					<table v-if="isComplete">
						<tr>
							<td colspan="2"><img src="../NBA/bucks.png" class="matchLogo" 
							/></td>
							<td> 98</td>
						</tr>
						<tr>
							<td>阿德托昆博</td>
							<td>7</td>
							<td>33</td>
						</tr>
						<tr>
							<td>米德尔顿</td>
							<td>6</td>
							<td>26</td>
						</tr>
						<tr>
							<td>马修斯</td>
							<td>8</td>
							<td>2</td>
						</tr>
						<tr>
							<td>布莱德索</td>
							<td>3</td>
							<td>11</td>
						</tr>
						<tr>
							<td>大洛佩兹</td>
							<td>11</td>
							<td>18</td>
						</tr>
					</table>
				</div>
				<div :class="{smallBody3:always,aniSmallC:always}">
					<p >
						<pre v-if="isSeenMatchWord">下面请看 Lakers VS Clippers 带来的第1场比赛
比赛正式开始
Clippers获得球权
詹姆斯 选择中距离出手
詹姆斯 手感不佳，框都被打歪了

马修斯 奋力保护好后场篮板，运球过半场

现在双方比分：Lakers 0 VS Clippers 0

米德尔顿 选择中距离出手
米德尔顿 手感不佳，框都被打歪了

霍华德 奋力保护好后场篮板，运球过半场

现在双方比分：Lakers 0 VS Clippers 0

wqnmlgb的， 戴维斯 的暴扣!

现在双方比分：Lakers 2 VS Clippers 0

wqnmlgb的， 大洛佩兹 的暴扣!

现在双方比分：Lakers 2 VS Clippers 2

库兹玛 选择中距离出手
库兹玛 手感不佳，框都被打歪了

大洛佩兹 奋力保护好后场篮板，运球过半场

现在双方比分：Lakers 2 VS Clippers 2

布莱德索 24英尺外，果断三分出手，有没有
哐当一声,我都心疼篮筐了!

库兹玛 奋力保护好后场篮板，运球过半场

现在双方比分：Lakers 2 VS Clippers 2

格林 选择中距离出手
格林 手感不佳，框都被打歪了

米德尔顿 奋力保护好后场篮板，运球过半场

现在双方比分：Lakers 2 VS Clippers 2

阿德托昆博 选择中距离出手
阿德托昆博 18英尺外，跳投出手，刷网而进

现在双方比分：Lakers 2 VS Clippers 4

詹姆斯 选择中距离出手
詹姆斯 手感不佳，框都被打歪了
戴维斯 拼命抢下前场板!! 正在有序的组织进攻!

现在双方比分：Lakers 2 VS Clippers 4

米德尔顿 选择中距离出手
米德尔顿 手感不佳，框都被打歪了

格林 奋力保护好后场篮板，运球过半场

现在双方比分：Lakers 2 VS Clippers 4

詹姆斯 选择中距离出手
詹姆斯 18英尺外，跳投出手，刷网而进

现在双方比分：Lakers 4 VS Clippers 4

wqnmlgb的， 大洛佩兹 的暴扣!

现在双方比分：Lakers 4 VS Clippers 6

詹姆斯 24英尺外，果断三分出手，有没有
我心爱的人是个团长，总有一天，他会拉着意大利炮来轰我
詹姆斯 今天可是真顺手啊，怎么来，怎么有

现在双方比分：Lakers 7 VS Clippers 6

马修斯 选择中距离出手
马修斯 手感不佳，框都被打歪了

戴维斯 奋力保护好后场篮板，运球过半场

现在双方比分：Lakers 7 VS Clippers 6

wqnmlgb的， 格林 的暴扣!

现在双方比分：Lakers 9 VS Clippers 6

米德尔顿 选择中距离出手
米德尔顿 手感不佳，框都被打歪了

戴维斯 奋力保护好后场篮板，运球过半场

现在双方比分：Lakers 9 VS Clippers 6

格林 选择中距离出手
格林 手感不佳，框都被打歪了

米德尔顿 奋力保护好后场篮板，运球过半场

现在双方比分：Lakers 9 VS Clippers 6

米德尔顿 选择中距离出手
米德尔顿 手感不佳，框都被打歪了

詹姆斯 奋力保护好后场篮板，运球过半场

现在双方比分：Lakers 9 VS Clippers 6

wqnmlgb的， 戴维斯 的暴扣!

现在双方比分：Lakers 11 VS Clippers 6

阿德托昆博 选择中距离出手
阿德托昆博 18英尺外，跳投出手，刷网而进

现在双方比分：Lakers 11 VS Clippers 8

wqnmlgb的， 戴维斯 的暴扣!

现在双方比分：Lakers 13 VS Clippers 8

马修斯 选择中距离出手
马修斯 18英尺外，跳投出手，刷网而进

现在双方比分：Lakers 13 VS Clippers 10

库兹玛 24英尺外，果断三分出手，有没有
我心爱的人是个团长，总有一天，他会拉着意大利炮来轰我
库兹玛 今天可是真顺手啊，怎么来，怎么有

现在双方比分：Lakers 16 VS Clippers 10

阿德托昆博 24英尺外，果断三分出手，有没有
哐当一声,我都心疼篮筐了!

詹姆斯 奋力保护好后场篮板，运球过半场

现在双方比分：Lakers 16 VS Clippers 10

库兹玛 24英尺外，果断三分出手，有没有
哐当一声,我都心疼篮筐了!

阿德托昆博 奋力保护好后场篮板，运球过半场

现在双方比分：Lakers 16 VS Clippers 10

布莱德索 选择中距离出手
布莱德索 手感不佳，框都被打歪了

霍华德 奋力保护好后场篮板，运球过半场

现在双方比分：Lakers 16 VS Clippers 10

詹姆斯 24英尺外，果断三分出手，有没有
哐当一声,我都心疼篮筐了!

米德尔顿 奋力保护好后场篮板，运球过半场

现在双方比分：Lakers 16 VS Clippers 10

wqnmlgb的， 阿德托昆博 的暴扣!

现在双方比分：Lakers 16 VS Clippers 12

库兹玛 选择中距离出手
库兹玛 手感不佳，框都被打歪了

大洛佩兹 奋力保护好后场篮板，运球过半场

现在双方比分：Lakers 16 VS Clippers 12

布莱德索 选择中距离出手
布莱德索 18英尺外，跳投出手，刷网而进

现在双方比分：Lakers 16 VS Clippers 14

格林 选择中距离出手
格林 手感不佳，框都被打歪了
詹姆斯 拼命抢下前场板!! 正在有序的组织进攻!

现在双方比分：Lakers 16 VS Clippers 14

米德尔顿 选择中距离出手
米德尔顿 手感不佳，框都被打歪了

詹姆斯 奋力保护好后场篮板，运球过半场

现在双方比分：Lakers 16 VS Clippers 14

库兹玛 选择中距离出手
库兹玛 18英尺外，跳投出手，刷网而进

现在双方比分：Lakers 18 VS Clippers 14

wqnmlgb的， 马修斯 的暴扣!

现在双方比分：Lakers 18 VS Clippers 16

库兹玛 选择中距离出手
库兹玛 18英尺外，跳投出手，刷网而进

现在双方比分：Lakers 20 VS Clippers 16

大洛佩兹 选择中距离出手
大洛佩兹 18英尺外，跳投出手，刷网而进

现在双方比分：Lakers 20 VS Clippers 18

库兹玛 选择中距离出手
库兹玛 手感不佳，框都被打歪了

阿德托昆博 奋力保护好后场篮板，运球过半场

现在双方比分：Lakers 20 VS Clippers 18

wqnmlgb的， 阿德托昆博 的暴扣!

现在双方比分：Lakers 20 VS Clippers 20

库兹玛 选择中距离出手
库兹玛 手感不佳，框都被打歪了

米德尔顿 奋力保护好后场篮板，运球过半场

现在双方比分：Lakers 20 VS Clippers 20

米德尔顿 选择中距离出手
米德尔顿 手感不佳，框都被打歪了

库兹玛 奋力保护好后场篮板，运球过半场

现在双方比分：Lakers 20 VS Clippers 20

wqnmlgb的， 詹姆斯 的暴扣!

现在双方比分：Lakers 22 VS Clippers 20

wqnmlgb的， 阿德托昆博 的暴扣!

现在双方比分：Lakers 22 VS Clippers 22

库兹玛 24英尺外，果断三分出手，有没有
我心爱的人是个团长，总有一天，他会拉着意大利炮来轰我
库兹玛 今天可是真顺手啊，怎么来，怎么有

现在双方比分：Lakers 25 VS Clippers 22

wqnmlgb的， 大洛佩兹 的暴扣!

现在双方比分：Lakers 25 VS Clippers 24

格林 选择中距离出手
格林 18英尺外，跳投出手，刷网而进

现在双方比分：Lakers 27 VS Clippers 24

wqnmlgb的， 米德尔顿 的暴扣!

现在双方比分：Lakers 27 VS Clippers 26

格林 选择中距离出手
格林 18英尺外，跳投出手，刷网而进

现在双方比分：Lakers 29 VS Clippers 26

wqnmlgb的， 米德尔顿 的暴扣!

现在双方比分：Lakers 29 VS Clippers 28

库兹玛 24英尺外，果断三分出手，有没有
我心爱的人是个团长，总有一天，他会拉着意大利炮来轰我
库兹玛 今天可是真顺手啊，怎么来，怎么有

现在双方比分：Lakers 32 VS Clippers 28

wqnmlgb的， 布莱德索 的暴扣!

现在双方比分：Lakers 32 VS Clippers 30

wqnmlgb的， 霍华德 的暴扣!

现在双方比分：Lakers 34 VS Clippers 30

大洛佩兹 选择中距离出手
大洛佩兹 手感不佳，框都被打歪了

戴维斯 奋力保护好后场篮板，运球过半场

现在双方比分：Lakers 34 VS Clippers 30

wqnmlgb的， 霍华德 的暴扣!

现在双方比分：Lakers 36 VS Clippers 30

阿德托昆博 选择中距离出手
阿德托昆博 手感不佳，框都被打歪了

霍华德 奋力保护好后场篮板，运球过半场

现在双方比分：Lakers 36 VS Clippers 30

詹姆斯 24英尺外，果断三分出手，有没有
我心爱的人是个团长，总有一天，他会拉着意大利炮来轰我
詹姆斯 今天可是真顺手啊，怎么来，怎么有

现在双方比分：Lakers 39 VS Clippers 30

wqnmlgb的， 米德尔顿 的暴扣!

现在双方比分：Lakers 39 VS Clippers 32

戴维斯 选择中距离出手
戴维斯 18英尺外，跳投出手，刷网而进

现在双方比分：Lakers 41 VS Clippers 32

阿德托昆博 24英尺外，果断三分出手，有没有
我心爱的人是个团长，总有一天，他会拉着意大利炮来轰我
阿德托昆博 今天可是真顺手啊，怎么来，怎么有

现在双方比分：Lakers 41 VS Clippers 35

格林 选择中距离出手
格林 18英尺外，跳投出手，刷网而进

现在双方比分：Lakers 43 VS Clippers 35

米德尔顿 选择中距离出手
米德尔顿 手感不佳，框都被打歪了

戴维斯 奋力保护好后场篮板，运球过半场

现在双方比分：Lakers 43 VS Clippers 35

格林 选择中距离出手
格林 手感不佳，框都被打歪了
霍华德 拼命抢下前场板!! 正在有序的组织进攻!

现在双方比分：Lakers 43 VS Clippers 35

大洛佩兹 选择中距离出手
大洛佩兹 手感不佳，框都被打歪了

库兹玛 奋力保护好后场篮板，运球过半场

现在双方比分：Lakers 43 VS Clippers 35

戴维斯 选择中距离出手
戴维斯 手感不佳，框都被打歪了

阿德托昆博 奋力保护好后场篮板，运球过半场

现在双方比分：Lakers 43 VS Clippers 35

大洛佩兹 选择中距离出手
大洛佩兹 手感不佳，框都被打歪了

格林 奋力保护好后场篮板，运球过半场

现在双方比分：Lakers 43 VS Clippers 35

格林 选择中距离出手
格林 手感不佳，框都被打歪了

布莱德索 奋力保护好后场篮板，运球过半场

现在双方比分：Lakers 43 VS Clippers 35

布莱德索 24英尺外，果断三分出手，有没有
哐当一声,我都心疼篮筐了!
大洛佩兹 拼命抢下前场板!! 正在有序的组织进攻!

现在双方比分：Lakers 43 VS Clippers 35

库兹玛 选择中距离出手
库兹玛 18英尺外，跳投出手，刷网而进

现在双方比分：Lakers 45 VS Clippers 35

布莱德索 24英尺外，果断三分出手，有没有
我心爱的人是个团长，总有一天，他会拉着意大利炮来轰我
布莱德索 今天可是真顺手啊，怎么来，怎么有

现在双方比分：Lakers 45 VS Clippers 38

格林 选择中距离出手
格林 手感不佳，框都被打歪了

布莱德索 奋力保护好后场篮板，运球过半场

现在双方比分：Lakers 45 VS Clippers 38

阿德托昆博 选择中距离出手
阿德托昆博 18英尺外，跳投出手，刷网而进

现在双方比分：Lakers 45 VS Clippers 40

格林 选择中距离出手
格林 手感不佳，框都被打歪了

大洛佩兹 奋力保护好后场篮板，运球过半场

现在双方比分：Lakers 45 VS Clippers 40

布莱德索 选择中距离出手
布莱德索 手感不佳，框都被打歪了

詹姆斯 奋力保护好后场篮板，运球过半场

现在双方比分：Lakers 45 VS Clippers 40

库兹玛 24英尺外，果断三分出手，有没有
我心爱的人是个团长，总有一天，他会拉着意大利炮来轰我
库兹玛 今天可是真顺手啊，怎么来，怎么有

现在双方比分：Lakers 48 VS Clippers 40

米德尔顿 选择中距离出手
米德尔顿 手感不佳，框都被打歪了

詹姆斯 奋力保护好后场篮板，运球过半场

现在双方比分：Lakers 48 VS Clippers 40

戴维斯 24英尺外，果断三分出手，有没有
我心爱的人是个团长，总有一天，他会拉着意大利炮来轰我
戴维斯 今天可是真顺手啊，怎么来，怎么有

现在双方比分：Lakers 51 VS Clippers 40

wqnmlgb的， 马修斯 的暴扣!

现在双方比分：Lakers 51 VS Clippers 42

库兹玛 24英尺外，果断三分出手，有没有
我心爱的人是个团长，总有一天，他会拉着意大利炮来轰我
库兹玛 今天可是真顺手啊，怎么来，怎么有

现在双方比分：Lakers 54 VS Clippers 42

布莱德索 选择中距离出手
布莱德索 手感不佳，框都被打歪了

霍华德 奋力保护好后场篮板，运球过半场

现在双方比分：Lakers 54 VS Clippers 42

库兹玛 选择中距离出手
库兹玛 18英尺外，跳投出手，刷网而进

现在双方比分：Lakers 56 VS Clippers 42

wqnmlgb的， 阿德托昆博 的暴扣!

现在双方比分：Lakers 56 VS Clippers 44

詹姆斯 选择中距离出手
詹姆斯 18英尺外，跳投出手，刷网而进

现在双方比分：Lakers 58 VS Clippers 44

米德尔顿 选择中距离出手
米德尔顿 手感不佳，框都被打歪了

霍华德 奋力保护好后场篮板，运球过半场

现在双方比分：Lakers 58 VS Clippers 44

詹姆斯 24英尺外，果断三分出手，有没有
我心爱的人是个团长，总有一天，他会拉着意大利炮来轰我
詹姆斯 今天可是真顺手啊，怎么来，怎么有

现在双方比分：Lakers 61 VS Clippers 44

阿德托昆博 选择中距离出手
阿德托昆博 18英尺外，跳投出手，刷网而进

现在双方比分：Lakers 61 VS Clippers 46

库兹玛 选择中距离出手
库兹玛 手感不佳，框都被打歪了
霍华德 拼命抢下前场板!! 正在有序的组织进攻!

现在双方比分：Lakers 61 VS Clippers 46

wqnmlgb的， 大洛佩兹 的暴扣!

现在双方比分：Lakers 61 VS Clippers 48

wqnmlgb的， 霍华德 的暴扣!

现在双方比分：Lakers 63 VS Clippers 48

wqnmlgb的， 米德尔顿 的暴扣!

现在双方比分：Lakers 63 VS Clippers 50

库兹玛 选择中距离出手
库兹玛 手感不佳，框都被打歪了

米德尔顿 奋力保护好后场篮板，运球过半场

现在双方比分：Lakers 63 VS Clippers 50

wqnmlgb的， 米德尔顿 的暴扣!

现在双方比分：Lakers 63 VS Clippers 52

詹姆斯 24英尺外，果断三分出手，有没有
我心爱的人是个团长，总有一天，他会拉着意大利炮来轰我
詹姆斯 今天可是真顺手啊，怎么来，怎么有

现在双方比分：Lakers 66 VS Clippers 52

米德尔顿 选择中距离出手
米德尔顿 18英尺外，跳投出手，刷网而进

现在双方比分：Lakers 66 VS Clippers 54

wqnmlgb的， 詹姆斯 的暴扣!

现在双方比分：Lakers 68 VS Clippers 54

wqnmlgb的， 布莱德索 的暴扣!

现在双方比分：Lakers 68 VS Clippers 56

库兹玛 24英尺外，果断三分出手，有没有
哐当一声,我都心疼篮筐了!

大洛佩兹 奋力保护好后场篮板，运球过半场

现在双方比分：Lakers 68 VS Clippers 56

阿德托昆博 24英尺外，果断三分出手，有没有
我心爱的人是个团长，总有一天，他会拉着意大利炮来轰我
阿德托昆博 今天可是真顺手啊，怎么来，怎么有

现在双方比分：Lakers 68 VS Clippers 59

詹姆斯 选择中距离出手
詹姆斯 18英尺外，跳投出手，刷网而进

现在双方比分：Lakers 70 VS Clippers 59

大洛佩兹 选择中距离出手
大洛佩兹 手感不佳，框都被打歪了

库兹玛 奋力保护好后场篮板，运球过半场

现在双方比分：Lakers 70 VS Clippers 59

库兹玛 24英尺外，果断三分出手，有没有
我心爱的人是个团长，总有一天，他会拉着意大利炮来轰我
库兹玛 今天可是真顺手啊，怎么来，怎么有

现在双方比分：Lakers 73 VS Clippers 59

wqnmlgb的， 大洛佩兹 的暴扣!

现在双方比分：Lakers 73 VS Clippers 61

詹姆斯 选择中距离出手
詹姆斯 18英尺外，跳投出手，刷网而进

现在双方比分：Lakers 75 VS Clippers 61

阿德托昆博 24英尺外，果断三分出手，有没有
哐当一声,我都心疼篮筐了!

霍华德 奋力保护好后场篮板，运球过半场

现在双方比分：Lakers 75 VS Clippers 61

wqnmlgb的， 戴维斯 的暴扣!

现在双方比分：Lakers 77 VS Clippers 61

米德尔顿 选择中距离出手
米德尔顿 手感不佳，框都被打歪了
大洛佩兹 拼命抢下前场板!! 正在有序的组织进攻!

现在双方比分：Lakers 77 VS Clippers 61

格林 选择中距离出手
格林 18英尺外，跳投出手，刷网而进

现在双方比分：Lakers 79 VS Clippers 61

马修斯 24英尺外，果断三分出手，有没有
哐当一声,我都心疼篮筐了!

霍华德 奋力保护好后场篮板，运球过半场

现在双方比分：Lakers 79 VS Clippers 61

库兹玛 24英尺外，果断三分出手，有没有
我心爱的人是个团长，总有一天，他会拉着意大利炮来轰我
库兹玛 今天可是真顺手啊，怎么来，怎么有

现在双方比分：Lakers 82 VS Clippers 61

wqnmlgb的， 米德尔顿 的暴扣!

现在双方比分：Lakers 82 VS Clippers 63

库兹玛 24英尺外，果断三分出手，有没有
哐当一声,我都心疼篮筐了!

大洛佩兹 奋力保护好后场篮板，运球过半场

现在双方比分：Lakers 82 VS Clippers 63

阿德托昆博 选择中距离出手
阿德托昆博 18英尺外，跳投出手，刷网而进

现在双方比分：Lakers 82 VS Clippers 65

wqnmlgb的， 戴维斯 的暴扣!

现在双方比分：Lakers 84 VS Clippers 65

wqnmlgb的， 马修斯 的暴扣!

现在双方比分：Lakers 84 VS Clippers 67

格林 选择中距离出手
格林 手感不佳，框都被打歪了

马修斯 奋力保护好后场篮板，运球过半场

现在双方比分：Lakers 84 VS Clippers 67

wqnmlgb的， 阿德托昆博 的暴扣!

现在双方比分：Lakers 84 VS Clippers 69

库兹玛 24英尺外，果断三分出手，有没有
哐当一声,我都心疼篮筐了!

大洛佩兹 奋力保护好后场篮板，运球过半场

现在双方比分：Lakers 84 VS Clippers 69

阿德托昆博 选择中距离出手
阿德托昆博 手感不佳，框都被打歪了

戴维斯 奋力保护好后场篮板，运球过半场

现在双方比分：Lakers 84 VS Clippers 69

詹姆斯 选择中距离出手
詹姆斯 18英尺外，跳投出手，刷网而进

现在双方比分：Lakers 86 VS Clippers 69

阿德托昆博 选择中距离出手
阿德托昆博 18英尺外，跳投出手，刷网而进

现在双方比分：Lakers 86 VS Clippers 71

霍华德 选择中距离出手
霍华德 手感不佳，框都被打歪了

阿德托昆博 奋力保护好后场篮板，运球过半场

现在双方比分：Lakers 86 VS Clippers 71

马修斯 24英尺外，果断三分出手，有没有
哐当一声,我都心疼篮筐了!

戴维斯 奋力保护好后场篮板，运球过半场

现在双方比分：Lakers 86 VS Clippers 71

霍华德 选择中距离出手
霍华德 18英尺外，跳投出手，刷网而进

现在双方比分：Lakers 88 VS Clippers 71

米德尔顿 24英尺外，果断三分出手，有没有
哐当一声,我都心疼篮筐了!

戴维斯 奋力保护好后场篮板，运球过半场

现在双方比分：Lakers 88 VS Clippers 71

库兹玛 24英尺外，果断三分出手，有没有
我心爱的人是个团长，总有一天，他会拉着意大利炮来轰我
库兹玛 今天可是真顺手啊，怎么来，怎么有

现在双方比分：Lakers 91 VS Clippers 71

大洛佩兹 选择中距离出手
大洛佩兹 手感不佳，框都被打歪了

霍华德 奋力保护好后场篮板，运球过半场

现在双方比分：Lakers 91 VS Clippers 71

霍华德 24英尺外，果断三分出手，有没有
我心爱的人是个团长，总有一天，他会拉着意大利炮来轰我
霍华德 今天可是真顺手啊，怎么来，怎么有

现在双方比分：Lakers 94 VS Clippers 71

wqnmlgb的， 米德尔顿 的暴扣!

现在双方比分：Lakers 94 VS Clippers 73

wqnmlgb的， 詹姆斯 的暴扣!

现在双方比分：Lakers 96 VS Clippers 73

阿德托昆博 选择中距离出手
阿德托昆博 手感不佳，框都被打歪了

詹姆斯 奋力保护好后场篮板，运球过半场

现在双方比分：Lakers 96 VS Clippers 73

詹姆斯 选择中距离出手
詹姆斯 18英尺外，跳投出手，刷网而进

现在双方比分：Lakers 98 VS Clippers 73

阿德托昆博 24英尺外，果断三分出手，有没有
我心爱的人是个团长，总有一天，他会拉着意大利炮来轰我
阿德托昆博 今天可是真顺手啊，怎么来，怎么有

现在双方比分：Lakers 98 VS Clippers 76

wqnmlgb的， 詹姆斯 的暴扣!

现在双方比分：Lakers 100 VS Clippers 76

米德尔顿 选择中距离出手
米德尔顿 18英尺外，跳投出手，刷网而进

现在双方比分：Lakers 100 VS Clippers 78

格林 24英尺外，果断三分出手，有没有
哐当一声,我都心疼篮筐了!

马修斯 奋力保护好后场篮板，运球过半场

现在双方比分：Lakers 100 VS Clippers 78

wqnmlgb的， 大洛佩兹 的暴扣!

现在双方比分：Lakers 100 VS Clippers 80

格林 选择中距离出手
格林 手感不佳，框都被打歪了

阿德托昆博 奋力保护好后场篮板，运球过半场

现在双方比分：Lakers 100 VS Clippers 80

马修斯 24英尺外，果断三分出手，有没有
哐当一声,我都心疼篮筐了!
阿德托昆博 拼命抢下前场板!! 正在有序的组织进攻!

现在双方比分：Lakers 100 VS Clippers 80

wqnmlgb的， 霍华德 的暴扣!

现在双方比分：Lakers 102 VS Clippers 80

wqnmlgb的， 大洛佩兹 的暴扣!

现在双方比分：Lakers 102 VS Clippers 82

库兹玛 24英尺外，果断三分出手，有没有
我心爱的人是个团长，总有一天，他会拉着意大利炮来轰我
库兹玛 今天可是真顺手啊，怎么来，怎么有

现在双方比分：Lakers 105 VS Clippers 82

米德尔顿 选择中距离出手
米德尔顿 手感不佳，框都被打歪了

霍华德 奋力保护好后场篮板，运球过半场

现在双方比分：Lakers 105 VS Clippers 82

wqnmlgb的， 詹姆斯 的暴扣!

现在双方比分：Lakers 107 VS Clippers 82

大洛佩兹 选择中距离出手
大洛佩兹 手感不佳，框都被打歪了

戴维斯 奋力保护好后场篮板，运球过半场

现在双方比分：Lakers 107 VS Clippers 82

格林 选择中距离出手
格林 手感不佳，框都被打歪了

大洛佩兹 奋力保护好后场篮板，运球过半场

现在双方比分：Lakers 107 VS Clippers 82

米德尔顿 选择中距离出手
米德尔顿 18英尺外，跳投出手，刷网而进

现在双方比分：Lakers 107 VS Clippers 84

库兹玛 选择中距离出手
库兹玛 18英尺外，跳投出手，刷网而进

现在双方比分：Lakers 109 VS Clippers 84

布莱德索 选择中距离出手
布莱德索 18英尺外，跳投出手，刷网而进

现在双方比分：Lakers 109 VS Clippers 86

戴维斯 选择中距离出手
戴维斯 手感不佳，框都被打歪了

马修斯 奋力保护好后场篮板，运球过半场

现在双方比分：Lakers 109 VS Clippers 86

布莱德索 24英尺外，果断三分出手，有没有
哐当一声,我都心疼篮筐了!

戴维斯 奋力保护好后场篮板，运球过半场

现在双方比分：Lakers 109 VS Clippers 86

戴维斯 24英尺外，果断三分出手，有没有
我心爱的人是个团长，总有一天，他会拉着意大利炮来轰我
戴维斯 今天可是真顺手啊，怎么来，怎么有

现在双方比分：Lakers 112 VS Clippers 86

wqnmlgb的， 米德尔顿 的暴扣!

现在双方比分：Lakers 112 VS Clippers 88

戴维斯 24英尺外，果断三分出手，有没有
哐当一声,我都心疼篮筐了!

马修斯 奋力保护好后场篮板，运球过半场

现在双方比分：Lakers 112 VS Clippers 88

米德尔顿 选择中距离出手
米德尔顿 18英尺外，跳投出手，刷网而进

现在双方比分：Lakers 112 VS Clippers 90

wqnmlgb的， 詹姆斯 的暴扣!

现在双方比分：Lakers 114 VS Clippers 90

布莱德索 选择中距离出手
布莱德索 手感不佳，框都被打歪了
大洛佩兹 拼命抢下前场板!! 正在有序的组织进攻!

现在双方比分：Lakers 114 VS Clippers 90

库兹玛 选择中距离出手
库兹玛 手感不佳，框都被打歪了

米德尔顿 奋力保护好后场篮板，运球过半场

现在双方比分：Lakers 114 VS Clippers 90

阿德托昆博 选择中距离出手
阿德托昆博 手感不佳，框都被打歪了

库兹玛 奋力保护好后场篮板，运球过半场

现在双方比分：Lakers 114 VS Clippers 90

詹姆斯 选择中距离出手
詹姆斯 手感不佳，框都被打歪了

马修斯 奋力保护好后场篮板，运球过半场

现在双方比分：Lakers 114 VS Clippers 90

wqnmlgb的， 阿德托昆博 的暴扣!

现在双方比分：Lakers 114 VS Clippers 92

格林 选择中距离出手
格林 18英尺外，跳投出手，刷网而进

现在双方比分：Lakers 116 VS Clippers 92

米德尔顿 选择中距离出手
米德尔顿 18英尺外，跳投出手，刷网而进

现在双方比分：Lakers 116 VS Clippers 94

詹姆斯 选择中距离出手
詹姆斯 18英尺外，跳投出手，刷网而进

现在双方比分：Lakers 118 VS Clippers 94

wqnmlgb的， 阿德托昆博 的暴扣!

现在双方比分：Lakers 118 VS Clippers 96

詹姆斯 选择中距离出手
詹姆斯 18英尺外，跳投出手，刷网而进

现在双方比分：Lakers 120 VS Clippers 96

马修斯 24英尺外，果断三分出手，有没有
哐当一声,我都心疼篮筐了!

戴维斯 奋力保护好后场篮板，运球过半场

现在双方比分：Lakers 120 VS Clippers 96

格林 24英尺外，果断三分出手，有没有
哐当一声,我都心疼篮筐了!

大洛佩兹 奋力保护好后场篮板，运球过半场

现在双方比分：Lakers 120 VS Clippers 96

阿德托昆博 24英尺外，果断三分出手，有没有
哐当一声,我都心疼篮筐了!

詹姆斯 奋力保护好后场篮板，运球过半场

现在双方比分：Lakers 120 VS Clippers 96

wqnmlgb的， 戴维斯 的暴扣!

现在双方比分：Lakers 122 VS Clippers 96

wqnmlgb的， 大洛佩兹 的暴扣!

现在双方比分：Lakers 122 VS Clippers 98

wqnmlgb的， 詹姆斯 的暴扣!

现在双方比分：Lakers 124 VS Clippers 98

布莱德索 选择中距离出手
布莱德索 手感不佳，框都被打歪了

戴维斯 奋力保护好后场篮板，运球过半场

现在双方比分：Lakers 124 VS Clippers 98

詹姆斯 选择中距离出手
詹姆斯 手感不佳，框都被打歪了

布莱德索 奋力保护好后场篮板，运球过半场

现在双方比分：Lakers 124 VS Clippers 98

阿德托昆博 选择中距离出手
阿德托昆博 手感不佳，框都被打歪了

戴维斯 奋力保护好后场篮板，运球过半场

现在双方比分：Lakers 124 VS Clippers 98

詹姆斯 24英尺外，果断三分出手，有没有
哐当一声,我都心疼篮筐了!

阿德托昆博 奋力保护好后场篮板，运球过半场

现在双方比分：Lakers 124 VS Clippers 98

米德尔顿 选择中距离出手
米德尔顿 手感不佳，框都被打歪了

霍华德 奋力保护好后场篮板，运球过半场

现在双方比分：Lakers 124 VS Clippers 98

wqnmlgb的， 戴维斯 的暴扣!

现在双方比分：Lakers 126 VS Clippers 98

-激烈的比赛结束，  两队得分情况:
Lakers队
库兹玛 : 37分 5篮板
格林 : 12分 2篮板
詹姆斯 : 42分 8篮板
戴维斯 : 22分 13篮板
霍华德 : 13分 12篮板

Clippers队
布莱德索 : 11分 3篮板
阿德托昆博 : 35分 7篮板
米德尔顿 : 26分 6篮板
马修斯 : 8分 6篮板
大洛佩兹 : 18分 11篮板


恭喜 Lakers获胜
</pre>
					</p>
				</div>
			</div>
			
		</div>
	</div>	
		<script>
			var counter=1;
			var vm=new Vue({
				el:"#ALL",
				data:{
					always:true,isShowFinal:false,isSeenMatchWord:false,
					isSeen:false,isBody:false,isWord:false,isOpen:true,
					isAni:false,isLogo:true,isnotAni:false,isOn:false,
					isBegin:false,isShowMatch:false,isComplete:false,
					isTop:false,isCom:false,
					message:"在下方选择对手，并点击开始比赛",
				},
				methods:{
					isSeenLeftLogo(){
					    this.isSeen=!this.isSeen;
					},
					opening:function(){
						this.isBody=!this.isBody;
						this.isWord=!this.isWord;
						this.isOpen=!this.isOpen;
						this.isBegin=!this.isBegin;
					},
					turnTop:function(){
						if(counter===1){
							this.isAni=!this.isAni;
							this.isShowMatch=!this.isShowMatch;
							counter++;
						}
					},
					turnMain:function(){
						if(counter){
							
						}
					},
					matchBegin:function(){
						this.isComplete=!this.isComplete;
						this.isTop=!this.isTop;
						this.isSeenMatchWord=!this.isSeenMatchWord;
					}
				}
			})
		</script>
	</body>
</html>
